################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Janess.BLL/obj
/Janess.Common/obj
/Janess.DAL/obj
/Janess.Model/obj
/packages
/Janess.MVC.UI/obj
/Janess.MVC.UI/bin
