<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title-提交订单</title>
    <link href="~/Content/amazeui.css" rel="stylesheet" />
    <link href="~/Content/demo.css" rel="stylesheet" />
    <link href="~/Content/cartstyle.css" rel="stylesheet" />
    <link href="~/Content/admin.css" rel="stylesheet" />
    <link href="~/Content/jsstyle.css" rel="stylesheet" />
    <link href="~/Content/sustyle.css" rel="stylesheet" />

    <script src="~/Scripts/address.js"></script>
    <script src="~/Scripts/jquery-1.7.min.js"></script>
</head>
<body>
    @*顶部导航栏*@
    <div class="am-container header">
        <ul class="message-l">
            <div class="topMessage">
                <div class="menu-hd" id="loginContainer">
                    <a href="#" target="_top" class="h">亲，请登录</a>
                    <a href="#" target="_top">免费注册</a>

                </div>
                <div class="menu-hd" id="loginContainer1">
                    <a href="#" class="h">@ViewBag.Name,欢迎登陆</a>
                    <a href="/Login/SignInView" target="_top">退出</a>
                </div>
            </div>
        </ul>
        <ul class="message-r">
            <div class="topMessage home">
                <div class="menu-hd"><a href="#" target="_top" class="h">商城首页</a></div>
            </div>
            <div class="topMessage my-shangcheng">
                <div class="menu-hd MyShangcheng"><a href="#" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
            </div>
            <div class="topMessage mini-cart">
                <div class="menu-hd"><a id="mc-menu-hd" href="/Buyer/CartView" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
            </div>
            <div class="topMessage favorite">
                <div class="menu-hd"><a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
        </ul>
    </div>
    @* footer *@
    <footer class="container body-content">
        @RenderBody()
        <hr />
        @* 尾部 *@
        <div class="footer">
            <div class="footer-hd ">
                <p>
                    <a href="# ">简尚科技</a>
                    <b>|</b>
                    <a href="# ">商城首页</a>
                    <b>|</b>
                    <a href="# ">支付宝</a>
                    <b>|</b>
                    <a href="# ">物流</a>
                </p>
            </div>
            <div class="footer-bd ">
                <p>
                    <a href="# ">关于简尚</a>
                    <a href="# ">合作伙伴</a>
                    <a href="# ">联系我们</a>
                    <a href="# ">网站地图</a>
                    <em>© 2017-2018 Time 版权所有. </em>
                </p>
            </div>
        </div>
    </footer>
    @RenderSection("myScript", false)


</body>
</html>
