
@{
    Layout = "~/Views/Buyer/PersonAsideView.cshtml";
    ViewBag.Title = "修改密码";
}

    <!--标题 -->
    <div class="user-safety">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">账户安全</strong> / <small>Set&nbsp;up&nbsp;Safety</small></div>
        </div>
        <hr />

        <!--头像 -->
        <div class="user-infoPic">

            <div class="filePic">
                <img class="am-circle am-img-thumbnail" src="~/Image/head.jpg" alt="" />
            </div>

            <p class="am-form-help">头像</p>

            <div class="info-m">
                <div id="nickname">

                </div>
                <div class="safeText">
                    <a href="safety.html">账户安全:<em style="margin-left:20px ;">60</em>分</a>
                    <div class="progressBar"><span style="left: -95px;" class="progress"></span></div>
                </div>
            </div>
        </div>

        <div class="check">
            <ul>
                <li>
                    <i class="glyphicon glyphicon-lock" style="font-size: 45px;color:coral"></i>
                    <div class="m-left">
                        <div class="fore1">登录密码</div>
                        <div class="fore2"><small>为保证您购物安全，建议您定期更改密码以保护账户安全。</small></div>
                    </div>
                    <div class="fore3">
                        <a href="#">
                            <div class="am-btn am-btn-secondary" id="AltPwd">修改</div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
<input type="hidden" id="buyerid" value="@ViewBag.Id" />
@section myScript{
    <script>
        $(function () {
            getBuyerNickname();
        $("#AltPwd").on("click", function () { window.location.href = "/Buyer/AltPwd2View"; });
        });
        function getBuyerNickname() {
            $.post("/Buyer/GetBuyersInfo", { id: $("#buyerid").val() }, function (data) {
                var arr = data;
                var html = "";
                html += "账号：" + arr[0].ACCOUNT;
                $("#nickname").append(html);
            })
        }
        $(function () {
            if ($("#buyererHidName").val()) {
                $("#buyernameDiv").show();
            }
            else {
                $("#buyernameDiv").hide();
            }
        })
</script>
}

