
@{
    ViewBag.Title = "EvaluateGoodsView";
    Layout = "~/Views/Buyer/PersonAsideView.cshtml";
}
<style>
    textarea#img {
        height:180px;
        width:800px;
    }
    div.eva{
        display: none;
    }
</style>
<body>
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">评价商品</strong> / <small>My&nbsp;Evaluate</small></div>
    </div>
    <hr />
    <div class="order-top">
        <div class="th th-item">
            <td class="td-inner">商品</td>
        </div>
        <div class="th th-price">
            <td class="td-inner">单价</td>
        </div>
        <div class="th th-number">
            <td class="td-inner">数量</td>
        </div>
        <div class="th th-operation">
            <td class="td-inner">&nbsp;&nbsp;&nbsp;</td>
        </div>
        <div class="th th-change">
            <td class="td-inner">操作</td>
        </div>
    </div>
    <div id="Evaluate"></div>
    <input type="hidden" id="buyerid" value="@ViewBag.Id" />
    @section myScript{
        <script>
            $(function () {
                GetUnevaluateOrders();
            })
            function GetUnevaluateOrders() {
                $.post("/Buyer/GetUnevaluateOrders", { id: $("#buyerid").val() }, function (data) {
                    var arr = data;
                    var html = '';
                    var multiOrders = "";
                    $.each(arr, function (i, t) {
                        multiOrders += t.ORDER_NO + ",";
                    });
                    multiOrders = multiOrders.substr(0, multiOrders.length - 1);
                    $.post("/Buyer/GetUnevaluateDetailOrders", { multi: multiOrders }, function (detailArr) {
                        generateOrderContent(arr, detailArr);
                    });
                })
            }
            function generateOrderContent(arr, detailArr) {
                $.each(arr, function (i, t) {
                    var time = t.ORDER_TIME;
                    time = time.replace("/Date(", "");
                    time = time.replace(")/", "");
                    time = new Date(parseInt(time)).toLocaleString();
                    var html = "<div class='order-main>";
                    html += "<div class='order-list'>";
                    html += "<div class='order-status5'>";
                    html += "<div class='order-title'>";
                    html += "<div class=dd-num'>订单编号：<span class='order_no'>" + t.ORDER_NO;
                    html += "</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
                    html += "<span>成交时间：" + time + "</span>" + "</div>";
                    html += "</div>";
                    $.each(detailArr, function (m, n) {
                        if (t.ORDER_NO == n.ORDER_NO) {
                            html += "<div class='order-content'>";
                            html += "<div class='order-left'>";
                            html += "<ul class='item-list'>";
                            html += "<li class='td td-item'>";
                            html += "<div class='item-pic'>";
                            html += "<a href='#' class='J_MakePoint'>";
                            html += "<img src=" + n.GOODS_IMAGE_URL + " class='itempic J_ItemImg' ";
                            html += "</a>";
                            html += "</div>";
                            html += "<div class='item-info'>";
                            html += "<div class='item-basic-info'>";
                            html += "<a href='#'>";
                            html += "<p>" + n.GOODS_NAME + "</p>";
                            html += "</a>";
                            html += "</div>";
                            html += "</div>";
                            html += "</li>";
                            html += "<li class='td td-price'>";
                            html += "<div class='item-price'>¥" + n.GOODS_PRICE + "</div>";
                            html += "</li>";
                            html += "<li class='td td-number'>";
                            html += "<div class='item-number'>";
                            html += "<span>×</span>" + n.DETORSER_GOODS_NUM;
                            html += "</div>";
                            html += "</li>";
                            html += "</ul>";
                            html += "<ul class='item-list'>";
                            html += "</div>";
                        }
                    });
                    html += "<div class='order-right'>";
                    html += "<li class='td td-amount'>";
                    html += "</li>";
                    html += "<div class='move-right'>";
                    html += "<li class='td td-status'>";
                    html += "</li>";
                    html += "<li class='td td-change'>";
                    html += "<div class='am-btn am-btn-danger anniu'>";
                    html += "&nbsp;&nbsp;&nbsp;&nbsp;评价&nbsp;&nbsp;&nbsp;&nbsp;";
                    html += "</div>";
                    html += "</li>";
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";
                    html += "<div class='eva' id='eva'>";
                    html += "<div><textarea id='img' ></textarea></div>"
                    html += "<div class='am-btn am-btn-danger anniu' id='sure'>";
                    html += "&nbsp;&nbsp;&nbsp;&nbsp;发布&nbsp;&nbsp;&nbsp;&nbsp;";
                    html += "</div>";
                    html += "</div>"
                    $('#Evaluate').append(html);
                    $("#sure").on("click", function () {
                        $.post('/Buyer/AltOrder', { ORDER_NO: t.ORDER_NO }, function (data) {
                            document.getElementById('eva').style.display = 'none';
                            layer.msg("发布成功", { icon: 1 });
                            window.location.href = "/Buyer/EvaluateGoodsView";
                        })
                    })
                });
                $("#Evaluate .anniu").on('click', function () {
                    document.getElementById('eva').style.display = 'block';
                });
                
            }
            
        </script>
    }

</body>