
@{
    ViewBag.Title = "SearchView";
    Layout = "~/Views/Shared/_Layout_Buyer.cshtml";
}
@*隐藏input控件，value保存列表传入的值*@
<input type="hidden" id="goodsVal" value="@ViewBag.GoodsVal" />
<div class="am-g am-g-fixed">
    <div class="am-u-sm-12 am-u-md-12">
        <div class="search-content">
            <div class="sort">
                <li class="first"><a title="综合">综合排序</a></li>
                <li><a title="销量">销量排序</a></li>
                <li><a title="价格">价格优先</a></li>
                <li class="big"><a title="评价" href="#">评价为主</a></li>
            </div>
            <div class="clear"></div>
            <div id="detail">
                
            </div>
        </div>
        <div class="clear"></div>
        <!--分页 -->
        <ul class="am-pagination am-pagination-right">
            <li class="am-disabled"><a href="#">&laquo;</a></li>
            <li class="am-active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>

    </div>
</div>
<input type="hidden" id="hidName" value="@ViewBag.Name" />
@section myScript{
    <script>
        $(function () {
            getSearchResult();
            if ($("#hidName").val()) {
                $("#loginContainer").hide();
                $("#loginContainer1").show();
            }
            else {
                $("#loginContainer").show();
                $("#loginContainer1").hide();
            }
        });
        function getSearchResult() {
            var val = $("#goodsVal").val();
            $.post("/Buyer/SearchResult", {
                Goodsval: val,
            }, function (data) {
                var arr = data;
                var html = "<ul class='am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes'>";
                for (var i = 0; i < arr.length; i++) {
                    var img = arr[i].GOODS_IMAGE_URL;
                    html += "<li class='goToInt'>";//添加类去详情界面
                    html += "<input type='hidden' class='goodsId' value=" + arr[i].ID + ">";
                    html += "<div class='i-pic limit'>";
                    html += "<img src="+img+" />";
                    html += "<p class='title fl'>" + arr[i].GOODS_NAME + "</p> ";
                    html += "<p class='price fl'>";
                    html += "<b>¥</b>";
                    html += "<strong>" + arr[i].GOODS_PRICE + "</strong>";
                    html += "</p>";
                    html += "<p class='number fl'>";
                    html += "销量<span>1110</span> ";
                    html += "</p>";
                    html += "</div>";
                    html += "</li>"; 
                  
                }
                html += "</ul>";
                $("#detail").append(html);
                $(".goToInt").on("click", intorduction);
               
            });
        };

        function intorduction(evt) {
            var input = $(evt.currentTarget).children("input");
            var goodsID = input.val();
            //alert(goodsID)
            var url = "/Buyer/IntroductionView?val=" + goodsID;
            window.location.href = url;
        };
    </script>
}
